body {
    background-color: rgb(168, 163, 163);
}

#document {
    display: flex;
    justify-content: center;
}

#leftside,
#rightside,
#leftside-data {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#leftside {
    color: white;
    background-image: url("Imagenes/dark-night-clouds-sky-9.png");
    align-items: center;
}

#photo {
    -webkit-mask-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

#leftside-data {
    align-items: center;
    position: relative;
    margin-top: 0;
    bottom: 50px;
}

.leftside-h2 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 230, 0);
}

#rightside {
    padding-left: 3%;
    padding-right: 2%;
    color: white;
    background-image: url("Imagenes/wallpaper-batman2.png");
}

.rightside-h2 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 230, 0);
}

#skills,
#technology {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 15px;
    grid-template-rows: repeat(5, 25px);
}

h1,
#profession {
    position: relative;
    bottom: 30px;
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(255, 230, 0);
}

#profession {
    margin-top: 0;
    color: black;
    height: 70px;
}

img {
    width: 325px;
    height: 400px;
}

.align-contact-data {
    text-align: center;
}

.skillbar-background {
    height: 10px;
    width: 130px;
    background-color: black;
}

.skillbar {
    height: 10px;
    width: 80%;
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgb(0, 0, 0) 0%, rgb(109, 109, 109) 80%, rgba(248, 248, 248, 1) 100%);
    border-top-right-radius: 15px;
}

#profile {
    width: 500px;
}

#education,
#experience {
    display: grid;
    grid-template-columns: repeat(2, 25%);
    align-items: center;
}

#Hobbies {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-columns: 2fr 3fr;
    margin-top: 50px;
    margin-right: 40px;
    row-gap: 40px;
}

.separation-lines {
    height: 2px;
    width: 100%;
    background-color: rgb(255, 230, 0);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px 2px rgb(255, 230, 0);
}

.separation-lines-grid {
    height: 2px;
    width: 100%;
    background-color: rgb(255, 230, 0);
    box-shadow: 1px 1px 10px 2px rgb(255, 230, 0);
    grid-column: 1/3;
}

.rightside-separation-lines {
    height: 2px;
    width: 100%;
    background-color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px 2px rgb(255, 230, 0);
}